<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>池上研修リジョブ</title>
  </head>
  <body>
    一覧画面だよ

<br>

      <p>
        <form  action="search" method="get">
          都道府県：<select name="city">
          <% Area.all.each do |area| %>
          <option value=<%= area.city %> > <%= area.city %></option>
          <% end %>
          </select>
          <button type="submit" name="button">検索</button>
        </form>

<br>
    <%= @jobs.count %>件です<br>

<br>
    <% @jobs.each do |job| %>
　　<a href="/job?id=<%= job.id %>">
タイトル：『<%= job.title %>』<br>
説明文　：<%= job.description %><br><br>
    </a>
    <% end %>

    <% Area.all.each do |area| %>
    <a href="/search?city=<%= area.city %>"><%= area.city %></a><br>
    <% end %>



  </body>
</html>
