<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>池上研修リジョブ</title>
  </head>
  <body>
    <h1>都道府県別一覧ページ</h1>

<div>
<br>
        <h2>都道府県で検索</h2>
      <p>
        <form  action="search" method="get">
          都道府県：<select name="city">
          <% Area.all.each do |area| %>
          <option value=<%= area.city %> > <%= area.city %></option>
          <% end %>
          </select>
          <button type="submit" name="button">検索</button>
        </form>
</div>

<div>
        <h2>給与で検索</h2>
        <form  action="search" method="get">
          給与：<select name="city">
          <% Job.all.each do |paid| %>
          <option value=<%= job.paid %> > <%= job.paid %></option>
          <% end %>
          </select>
          <button type="submit" name="button">検索</button>
        </form>
</div>



<br>
    <% unless @jobs.nil?  %>
      <%= @jobs.count %>件です<br>
    <% end %>

<br>
  <% unless @jobs.nil? %>
    <% @jobs.each do |job| %>
      <a href="/job?id=<%= job.id %>">
        タイトル：『<%= job.title %>』<br>
        説明文　：<%= job.description %><br><br>
      </a>
    <% end %>
  <% end %>

    <% Area.all.each do |area| %>
    <a href="/search?city=<%= area.city %>"><%= area.city %></a><br>
    <% end %>



  </body>
</html>
