<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<br>

    管理画面だよ

<br>
<br>
    <% Job.all.each do |job| %>
    <a href="/job?id=<%= job.id %>"><%= job.title %></a>　<a href="/job?id=<%= job.id %>"><%= job.description %></a>   </select name="id">
    <a href="/edit?id=<%= job.id %>"><button type="submit" name=>編集</button></a>
    <form  action="edit" method="get">
    </form>
    <% end %>

<br>
<br>

      <a href="new">
        <button type="submit" name="job">新規作成</button>
      </a>


  </body>
</html>
