<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>求職者情報 編集ページ</h1>

<br>
<br>
    <form action="edit_user_through?id=<%=@user.id%>" method="post">
      <input name="authenticity_token" type="hidden" value="1234" />
            名前　：<input type="text" name="name" value="<%= @user.name %>" size="40">　<br>
            年齢　：<input type="text" name="age" value="<%= @user.age %>" size="10">  <br>
            性別　：<input type="radio" name="sex" value="男<%= @user.sex %>" /> 男　
                  <input type="radio" name="sex" value="女<%= @user.sex %>" /> 女
<br>
            <button type="submit" name="job">更新</button>

    </form>


<br>
<br>

    <a href="user_delete?id=<%=@user.id%>">
      <button type="submit" name="job">削除</button>
    </a>



  </body>
</html>
