<!DOCTYPE html>
<html>
<head>
  <title>Training2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <span style="color:#F0F;">
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
  <br>
  <% end %>
  </span>

  <Div Align="right">
  <a href="new_user">新規会員登録へ</a>

  <a href="login">ログイン</a>
  </Div>




<%= yield %>

</body>

</html>
