<!DOCTYPE html>
<html>
<head>
  <title>Training2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <Div Align="right">
    <FONT size = "3">
      <a href="new_user">新規会員登録へ</a>
      <a href="login">ログイン</a>
    </FONT>
  </Div>
<a class="header-middle__logo" href="/top"><img class="logo_header" src="https://rejob.co.jp/wp-content/themes/simplicity/images/logo.png" alt="Logo header"></a>


<div class="header-top"></div>
<section class="area_visionary"></section>

  <span style="color:#F0F;">
    <FONT size = "3">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <br>
      <% end %>
    </FONT>
  </span>



<%= yield %>

</body>

</html>
